@font-face {
  font-family: 'Circular';
  src: local('Circular'), url('./font/circular.woff') format('woff'); /* IE9 Compat Modes */
 }

body{
	background: #F3F3F3;
	font-family: 'Circular';
}

.App {
  /* text-align: center;*/ }

.App-logo {
  height: 40px;
  color: green; }

.App-header {
  height: 60px;
  padding: 10px 20px;
  box-shadow: 0 4px 2px -2px #f4f4f4;
  background: #fff; }
.filters-wrapper{
	background:#fff;
}
.EventList {
  background: #F3F3F3;
  padding:50px; }

.EventCard{
	height:600px;
	margin-bottom:50px;
}

.event-wrapper{
	background:#fff;
	/*padding:40px;*/
	border-radius: 10px;
	height:100%;
}


.event-details{
	padding:30px;
}

.icon{
	width:20px;
	height:20px;
}

.event-image{
	width:100%
}

.avatar{
	width:40px !important;
	height:40px;
	border-radius: 50%;
}
